.about-text {
  margin: 0;
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 16px;
  }
}

.about-text__htmlacademy-link {
  display: flex;
  align-items: center;
  color: $black;
  text-decoration: none;
  font-size: 14px;

  span {
    margin-right: 15px;
  }

  &:hover {
    .about-text__htmlacademy-logo {
      fill: $dark-grey;
    }
  }

  &:focus {
    outline: 1px solid $black;

    .about-text__htmlacademy-logo {
      fill: $dark-grey;
    }
  }

  &:active {
    .about-text__htmlacademy-logo {
      fill: $dark-grey;
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
  }
}

.about-text__htmlacademy-logo {
  fill: $red;
}
