.achievement-form {
  background-color: $grey;
  margin-bottom: 42px;
  padding-top: 55px;

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    background-color: $white;
    order: 4;
    margin-bottom: 58px;
    padding-top: 0;
    margin-top: -7px;
  }

  @media (min-width: $desktop-width) {
    height: min-content;
    grid-area: achievement;
    margin-bottom: -16px;
  }
}

.achievement-form__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  padding-top: 22px;

  @media (max-width: $mobile-width-only) {
    border: none;
  }

  @media (min-width: $tablet-width) {
    width: 620px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding-bottom: 0;
  }
}

.achievement-form__title {
  color: $red;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  width: 223px;

  @media (min-width: $tablet-width) {
    width: 435px;
  }
}

.achievement-form__list {
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-left: 58px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
  }
}

.achievement-form__item {
  padding-bottom: 42px;

  &:last-child {
    padding-bottom: 0;
  }
}
