.advantages-section {
  background-image: url("../img/backgrounds/triangle.svg"), linear-gradient($white 30px, transparent 30px);
  background-color: $grey;
  background-repeat: no-repeat;
  background-size: 100% 30px, auto;
  background-position: 0 30px, 0 0;
  margin: 0;
  margin-bottom: 59px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/backgrounds/triangle.svg"), linear-gradient($white 55px, transparent 55px);
    background-position: 0 55px, 0 0;
    background-size: 100% 55px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/backgrounds/triangle.svg"), linear-gradient($white 100px, transparent 100px);
    background-position: 0 100px, 0 0;
    background-size: 100% 100px;
    margin-bottom: 0;
  }
}

.advantages-section__wrapper {
  width: 288px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.advantages-section__title {
  text-align: center;
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 50px;
  line-height: 50px;
}

.advantages-section__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 325px;
  background-image: url("../img/backgrounds/pink-screen-small.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/pink-screen-small@2x.png");
  }

  @media (min-width: $tablet-width) {
    padding-left: 340px;
    padding-bottom: 49px;
    background-image: url("../img/backgrounds/pink-screen-medium.png");
    background-position: left bottom;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/pink-screen-medium@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 22px;
    padding-left: 0;
    padding-bottom: 59px;
    background-image: none;
  }
}

.advantages-section__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 43px;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    margin-bottom: 46px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    margin-bottom: 0;
    padding-top: 360px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}

.advantages-section__item--happiness {
  @media (min-width: $desktop-width) {
    background-image: url("../img/backgrounds/pink-screen-grey.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/pink-screen-grey@2x.png");
    }
  }
}

.advantages-section__item--change {
  @media (min-width: $desktop-width) {
    background-image: url("../img/backgrounds/pink-screen-coloured.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/pink-screen-coloured@2x.png");
    }
  }
}

.advantages-section__item--friends {
  @media (min-width: $desktop-width) {
    background-image: url("../img/backgrounds/pink-screen-smile.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/pink-screen-smile@2px.png");
    }
  }
}

.advantage__title {
  font-size: 18px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    margin-bottom: 0;
    text-align: center;
    font-size: 30px;
  }
}

.advantage__description {
  margin: 0;
}
