.advantage-table__advantage:first-child td {
  border-top-width: 2px;
  border-top-color: $dark-grey;
}

.advantage-table__advantage:first-child td:first-child {
  border-top-color: $grey;
  border-top-left-radius: 4px;
}

.advantage-table__advantage:last-child td {
  border-bottom-width: 2px;
}

.advantage-table__advantage:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

.advantage-table__advantage:last-child td:last-child {
  border-bottom-right-radius: 4px;
}
