.button {
  font-size: 18px;
  background-color: $green;
  text-transform: uppercase;
  padding: 23px 45px;
  border: none;
  color: $white;
  border-radius: 1px;
  font-weight: bold;

  &:hover {
    background-color: $dark-green;
  }

  &:active {
    background-color: $dark-green;
    color: rgb($white, 0.3);
  }

  &:disabled {
    background-color: $grey;
  }
}
