.checkbox__description {
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 35px;

  &::before {
    content: "";
    width: 35px;
    height: 35px;
    background-color: $white;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 2px solid $fog-grey;
  }

  &:hover {
    &::before {
      border-color: $dark-grey;
    }
  }

  &:active {
    &::before {
      border-color: $red;
    }
  }
}

.checkbox__input:checked + .checkbox__description::after {
  width: 22px;
  height: 16px;
  margin-top: 8px;
  margin-left: 8px;
  background-image: url("../img/checkbox-checked.svg");
  content: "";
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: 4px;
}
