.control-label {
  display: grid;
  grid-template-columns: 37px 1fr;
  gap: 37px;

  &::before {
    content: "";
    width: 37px;
    height: 37px;
    background-color: $white;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 2px $fog-grey solid;
    border-radius: 50%;
  }
}

.control-input[type="radio"]:checked + .control-label::after {
  width: 15px;
  height: 15px;
  background-image: none;
  background-color: $red;
  border-radius: 50%;
  content: "";
  margin-left: 11px;
  margin-top: 11px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
