.editor {
  padding: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 36px;
  padding-bottom: 38px;

  @media (max-width: $mobile-width-only) {
    padding: 0;
  }

  @media (max-width: $desktop-width) {
    background-color: $grey;
    width: 940px;
    margin: 0 auto;
    padding: 0;
    padding-top: 36px;
    margin-bottom: 16px;
  }
}

.editor__form {
  display: flex;
  flex-direction: column;
  background-color: $grey;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 620px;
    gap: 47px;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding-bottom: 76px;
  }
}

.editor__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 35px;

  @media (max-width: $mobile-width-only) {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.editor__image-wrapper {
  margin: 0 auto;
}

.editor__tools {
  display: flex;
  justify-content: space-around;

  @media (max-width: $mobile-width-only) {
    width: 75%;
    padding-bottom: 66px;
    margin: 0 auto;
    margin-bottom: 36px;
    border-bottom: 1px solid rgb($dark-grey, 0.1);
    align-items: center;
    position: relative;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    padding-left: 9px;
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 44px;
    padding-left: 0;
  }
}

.editor__item {
  padding-bottom: 34px;
  margin-bottom: 36px;
  border-bottom: 1px solid rgb($dark-grey, 0.1);
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  gap: 28px;

  @media (max-width: $mobile-width-only) {
    display: block;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    padding-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    gap: 65px;
    width: 410px;
    margin-bottom: 16px;
    padding-bottom: 5px;
  }
}

.editor__range {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.editor__item--chosen .editor__range {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    border-bottom: 1px solid rgb($dark-grey, 0.1);
    margin: 0 auto;
    margin-bottom: 36px;
    left: 10%;
    width: 120%;
    margin-top: 31px;
  }
}

.editor__icon {
  fill: $red;

  @media (max-width: $mobile-width-only) {
    fill: $dark-grey;
    opacity: 0.3;

    &--active {
      fill: $red;
      opacity: 1;
    }
  }
}

.editor__item:hover .editor__icon {
  opacity: 0.5;
}

.editor__crop-icon {
  background: none;
  border: none;

  svg {
    @media (min-width: $tablet-width) {
      width: 22px;
      height: 22px;
    }

    @media (min-width: $desktop-width) {
      width: 44px;
      height: 44px;
    }
  }
}

.editor__fill-icon {
  background: none;
  border: none;

  svg {
    @media (min-width: $tablet-width) {
      width: 24px;
      height: 21px;
    }

    @media (min-width: $desktop-width) {
      width: 48px;
      height: 43px;
    }
  }
}

.editor__change-icon {
  background: none;
  border: none;

  svg {
    @media (min-width: $tablet-width) {
      width: 16px;
      height: 16px;
    }

    @media (min-width: $desktop-width) {
      width: 32px;
      height: 32px;
    }
  }
}

.editor__buttons {
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width-only) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.editor__submit-button {
  font-weight: bold;
  color: $red;
  text-decoration: none;
  padding: 17px 90px;
  border: solid 3px $red;
  border-radius: 29px;
  font-size: 18px;
  line-height: 18px;
  background-color: transparent;
  text-transform: none;
  margin-bottom: 12px;

  &:hover {
    background-color: $red;
    color: $white;
  }

  &:active {
    background-color: $red;
    color: rgb($white, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 16px 80px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding: 21px 42px;
    margin-right: 44px;
    line-height: 24px;
  }
}

.editor__cancel-button {
  font-weight: bold;
  color: $dark-grey;
  opacity: 0.1;
  text-decoration: none;
  padding: 17px 90px;
  border: 3px solid $dark-grey;
  border-radius: 29px;
  font-size: 18px;
  line-height: 18px;
  background-color: transparent;
  text-transform: none;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.3;
    background-color: $dark-grey;
    color: $white;
  }

  @media (min-width: $tablet-width) {
    padding: 16px 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 21px 42px;
  }
}
