.editor {
  padding: 20px;
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width-only) {
    padding: 0;
  }

  @media (max-width: $desktop-width) {
    background-color: $grey;
  }
}

.editor__form {
  display: flex;
  flex-direction: column;
  background-color: $grey;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 620px;
    gap: 47px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.editor__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    margin: 0;
  }
}

.editor__image-wrapper {
  margin: 0 auto;
}

.editor__tools {
  display: flex;
  justify-content: space-around;

  @media (max-width: $mobile-width-only) {
    width: 100%;
    padding-bottom: 34px;
    margin-bottom: 36px;
    border-bottom: 1px solid rgb($dark-grey, 0.1);
    align-items: center;
    position: relative;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }
}

.editor__item {
  padding-bottom: 34px;
  margin-bottom: 36px;
  border-bottom: 1px solid rgb($dark-grey, 0.1);
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  gap: 28px;

  @media (max-width: $mobile-width-only) {
    display: block;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
}

.editor__item--chosen .editor__range {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    border-bottom: 1px solid rgb($dark-grey, 0.1);
    margin: 0 auto;
    margin-bottom: 36px;
    left: 10%;
    width: 75%;
  }
}

.editor__crop-icon {
  background: none;
  border: none;
}

.editor__fill-icon {
  background: none;
  border: none;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }
}

.editor__change-icon {
  background: none;
  border: none;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }
}

.editor__buttons {
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width-only) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.editor__submit-button {
  font-weight: bold;
  color: $red;
  text-decoration: none;
  padding: 21px 49px;
  border: solid 3px $red;
  border-radius: 29px;
  font-size: 18px;
  line-height: 18px;
  background-color: transparent;
  text-transform: none;
  margin-bottom: 12px;
}

.editor__cancel-button {
  font-weight: bold;
  color: $dark-grey;
  opacity: 0.1;
  text-decoration: none;
  padding: 21px 49px;
  border: 3px solid $dark-grey;
  border-radius: 29px;
  font-size: 18px;
  line-height: 18px;
  background-color: transparent;
  text-transform: none;
}
