.field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.field__input {
  padding: 18px 20px;
  font-size: 20px;
  border: 2px solid $fog-grey;
  width: 100%;

  &:hover {
    border-color: $dark-grey;
  }

  &:focus:not(:placeholder-shown) {
    border-color: $red;
  }
}

.field__label {
  color: $red;
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 19px;
  line-height: 10px;
  margin-bottom: 4px;
}
