.item {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: column-reverse;
  }
}

.item__input {
  padding: 23px 20px;
  font-size: 18px;
  max-height: 59px;
  border: 2px solid $fog-grey;
  background-position: center right;
  background-repeat: no-repeat;

  @media (max-width: $mobile-width-only) {
    background-image: none;
  }

  &--phone {
    background-image: url("../img/phone.svg");
  }

  &--mail {
    background-image: url("../img/mail.svg");
  }
}
