.main-nav {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  display: flex;
  height: max-content;

  @media (min-width: $desktop-width) {
    font-weight: normal;
    text-transform: none;
  }
}

.main-nav__list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  background-color: $dark-grey;

  @media (min-width: $tablet-width) {
    height: min-content;
    z-index: 2;
    position: absolute;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    position: relative;
  }
}

.main-nav__list a {
  color: $white;
  height: min-content;
}

.main-nav__toggle {
  position: absolute;
  top: 28px;
  right: 20px;
  z-index: 2;
  width: 50px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    fill: $red;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: $white;
    box-shadow: 0 10px 0 0 $white, 0 20px 0 0 $white;
  }

  &:hover::before {
    background-color: $red;
    box-shadow:
      0 10px 0 0 $red,
      0 20px 0 0 $red;
  }

  &:active::before {
    background-color: rgba($red, 0.3);
    box-shadow:
      0 10px 0 0 rgba($red, 0.3),
      0 20px 0 0 rgba($red, 0.3);
  }
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 20px;
    width: 23px;
    height: 2px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $red;
  }

  &:active::before,
  &:active::after {
    background-color: rgba($red, 0.3);
  }
}
