.name-form {
  width: min-content;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    flex-grow: 1;
  }
}

.name-form__wrapper {
  display: grid;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 618px;
  }

  @media (min-width: $desktop-width) {
    width: 433px;
  }
}
