.page-header {
  background-color: $dark-grey;
}

.page-header__wrapper {
  width: 288px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
