.page-main {
  background-color: $white;
}

.page-main__title {
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  line-height: 33px;
  width: 300px;
  flex-grow: 1;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-left: 10px;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 35px;
    align-self: flex-start;
    font-size: 50px;
    line-height: 69px;
  }
}

.page-main__inner-title {
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 69px;
    width: 620px;
    padding-top: 66px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    width: 750px;
    padding-top: 59px;
    padding-bottom: 87px;
  }
}

.page-main__photo-title {
  padding-bottom: 76px;

  @media (min-width: $tablet-width) {
    padding-bottom: 127px;
  }

  @media (min-width: $desktop-width) {
    width: 614px;
    padding-bottom: 89px;
  }
}

.page-main__link-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    margin-top: 336px;
    padding-top: 0;
    padding-bottom: 33px;
  }

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}
