.page-footer {
  background-color: $white;

  h2 {
    text-align: center;
  }
}

.page-footer__wrapper {
  width: 288px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.page-footer__logo {
  &:hover {
    .page-footer__pink-logo {
      fill: $red;
    }
  }

  &:active {
    .page-footer__pink-logo {
      fill: $dark-grey;
      opacity: 0.3;
    }
  }
}

.page-footer__pink-logo {
  fill: $dark-grey;
}

.page-footer__logo-tablet {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-footer__logo-desktop {
  @media (max-width: $predesktop-width) {
    display: none;
  }
}

.page-footer iframe {
  display: block;
  border: none;
  width: 100%;
  height: 200px;

  @media (min-width: $tablet-width) {
    height: 374px;
  }

  @media (min-width: $desktop-width) {
    height: 502px;
  }
}

.page-footer__lower-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-around;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}
