.page-header {
  padding: 0;
  margin: 0;
  background-color: $dark-grey;
}

.page-header__wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 27px;
  padding-bottom: 43px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    width: 1200px;
    padding-left: 130px;
    padding-right: 130px;
  }
}

.page-header__logo {
  flex-grow: 1;
  padding: 0;
  width: 74px;
  height: min-content;
}
