.page-header {
  background-color: $dark-grey;
}

.page-header__wrapper {
  display: flex;
  height: 66px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    height: 110px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 130px;
    padding-left: 130px;
    padding-top: 27px;
    padding-bottom: 43px;
    height: 40px;
  }
}
