.photo-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
  }
}

.photo-gallery__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 288px;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.photo-gallery__list {
  display: grid;
  gap: 20px;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photo-gallery__photo {
  background-color: $grey;
  list-style-type: none;
}
