.popup-failure {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 320px;
  padding-top: 44px;
  padding-bottom: 52px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: $white;
  box-shadow: 0 25px 50px rgb($black, 0.15);

  @media (min-width: $tablet-width) {
    width: 460px;
    padding-top: 49px;
    padding-bottom: 54px;
    padding-right: 55px;
    padding-left: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
    padding: 0;
  }
}

.popup-failure__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    padding-right: 215px;
    padding-left: 215px;
    padding-top: 49px;
    padding-bottom: 68px;
  }
}

.popup-failure__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.popup-failure__info {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  width: 280px;
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    width: 350px;
  }
}

.popup-failure__button-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    background-color: $grey;
    padding-top: 52px;
    padding-bottom: 52px;
    padding-right: 242px;
    padding-left: 242px;
  }
}

.popup-failure__button {
  width: 276px;
  margin: 0 auto;
  font-size: 18px;
  height: min-content;
  border-radius: 1px;

  @media (min-width: $tablet-width) {
    width: 296px;
  }
}
