.program-fieldset {
  margin: 0 auto;
  margin-bottom: 42px;
  width: 100%;

  @media (max-width: $mobile-width-only) {
    border: none;
  }

  @media (min-width: $tablet-width) {
    order: 5;
    margin-bottom: 70px;
    width: min-content;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    flex-direction: row;
  }
}

.program-fieldset__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    flex-direction: row;
  }
}

.program-fieldset__title {
  color: $red;
  text-transform: uppercase;
  margin: 0 auto;
}

.program-fieldset__field {
  padding: 22px 20px;
  font-size: 18px;
  border: 2px solid $fog-grey;
  width: 100%;
  min-height: 200px;
}
