.range {
  position: relative;
  height: 2px;
  background-color: $dark-grey;
  width: 202px;
  display: flex;
  align-items: center;
}

.range__toggle {
  padding: 0;
  margin: 0;
  width: 14px;
  height: 14px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid $red;
  background-color: $white;
}

.range--fill, .range__change {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.range--cut .range__toggle {
  margin-left: 25px;
}

.range--fill .range__toggle {
  margin-left: 160px;
}

.range--change .range__toggle {
  margin-left: 96px;
}
