.range {
  position: relative;
  height: 2px;
  background-color: $dark-grey;
  width: 202px;
  display: flex;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    width: 92%;
  }
}

.editor__item--chosen .range {
  @media (max-width: $mobile-width-only) {
    display: flex;
    position: absolute;
    border-bottom: 1px solid rgb($dark-grey, 0.1);
    margin: 0 auto;
    margin-bottom: 36px;
    left: 0;
    width: 100%;
    margin-top: 31px;
  }
}

.range__toggle {
  padding: 0;
  margin: 0;
  width: 14px;
  height: 14px;
  position: absolute;
  border-radius: 50%;
  border: 2px solid $red;
  background-color: $white;

  &:active {
    background-color: $red;
  }
}

.range--cut .range__toggle {
  margin-left: 81%;
}

.range--fill .range__toggle {
  margin-left: 12%;
}

.range--change .range__toggle {
  margin-left: 47%;
}
