.registration {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: grid;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 432px 432px;
    column-gap: 74px;
    row-gap: 69px;
    grid-template-areas:
      "announce announce"
      "name device"
      "contact contact"
      "achievement achievement"
      "program program"
      "button button";
    padding-left: 132px;
    padding-right: 132px;
  }
}

.registration__announcement {
  text-align: center;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 29px;

  @media (max-width: $mobile-width-only) {
    font-size: 14px;
    width: 280px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 92px;
    margin-bottom: 57px;
    width: 562px;
  }

  @media (min-width: $desktop-width) {
    grid-area: announce;
    width: 780px;
    margin-bottom: -18px;
  }
}

.registration__hidden-announcement {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.registration__label {
  color: $red;
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 24px;
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    padding-left: 17px;
  }
}

.registration__lower-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 57px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    order: 6;
    margin-bottom: 30px;
    justify-content: space-between;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    grid-area: button;
    width: 100%;
    margin-bottom: 0;
  }
}

.registration__required {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.registration__submit-button {
  width: 276px;
  white-space: nowrap;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    width: 300px;
    padding-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.registration__hidden {
  @media (max-width: $predesktop-width) {
    display: none;
  }
}
