.registration {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $desktop-width) {
    padding-left: 132px;
    padding-right: 132px;
  }
}

.registration__announcement {
  text-align: center;
  margin: 0 auto;
  margin-top: 54px;
  margin-bottom: 55px;

  @media (max-width: $mobile-width-only) {
    font-size: 14px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 100px;
    margin-bottom: 82px;
  }
}

.registration__label {
  color: $red;
  text-transform: uppercase;
}

.registration__lower-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    order: 6;
    margin-bottom: 50px;
    justify-content: space-between;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.registration__submit-button {
  width: 296px;
}
