.site-contacts {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
    margin-right: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-right: -6px;
  }
}

.site-contacts__link {
  display: block;
  height: 54px;

  &:focus {
    outline: 1px solid $black;
  }
}

.site-contacts__contact {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    .site-contacts__circle {
      opacity: 1;
    }
  }

  &:focus {
    .site-contacts__circle {
      opacity: 1;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 5px;
  }
}

.site-contacts__contact-logo {
  &:active {
    opacity: 0.1;
  }
}
