.slider__toggle {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin-right: 19px;
  background-color: $dark-grey;
  opacity: 0.3;
  padding: 0;
  border: 3px solid transparent;
  background-clip: content-box;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

  &:last-child {
    margin-right: 0;
  }
}

.slider__toggle--current {
  border: 3px solid $black;
  background-color: $white;
  opacity: 1;
}
