.study {
  margin: 0;
  padding: 0;
  width: 100%;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.study__wrapper {
  width: 288px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.study__title {
  font-weight: bold;
}
