.title-wrapper {
  margin: 0;
  color: $white;

  @media (min-width: $desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
  }
}

.title-wrapper__lower-wrapper {
  background-repeat: no-repeat;
  background-position: center 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/backgrounds/handphone-small.png");

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 640px;
    padding-right: 340px;
    padding-bottom: 120px;
    background-position: bottom right;
    background-image: url("../img/backgrounds/handphone-medium.png");
    padding-top: 102px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    background-image: url("../img/backgrounds/handphone-large.png");
    padding-top: 114px;
    padding-bottom: 130px;
    padding-right: 640px;
  }
}
