@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensansslight.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background-color: rgba(242, 242, 242, 1);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background-color: #000000;
}

.main-nav {
  text-transform: uppercase;
  font-weight: bold;
}

.main-nav__list {
  list-style-type: none;

  a {
    color: #FFFFFF;
    text-decoration: none;
  };
}

.page-main {
  background-color: #FFFFFF;
}

.page-main__announce {
  margin: 0;
}

.title-wrapper {
  background-image: url("../../img/backgrounds/backgroundindex.jpg");
  margin: 0;
  color: #FFFFFF;

  h1 {
    margin: 0;
    font-weight: 300;
  };
}

.page-footer {
  background-color: #FFFFFF;
  a {
    color: @red;
    text-decoration: none;
  }
}
